#java
target/
drivers/

#eclipse
.settings/
.project
.classpath
.springBeans
.factorypath
.metadata/

#node
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
package-lock.json
yarn.lock

#idea
.idea
.apt_generated/
.apt_generated_tests/

#test
tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.iml
/logs/
